<section id="<%= name %>" class="l-<%= name %> l-snap-item c-section">

  <div class="p-<%= name %> c-inner">

    <%_ $sectionPath = `./_section/_${name}` _%>

    <%- include($sectionPath)%>


    <div class="c-arrow">
      <%- include('./_c-arrow__next', {$link:next}) -%>
    </div>
  </div>
</section>
