<%- include('./_data/_index_data') %>
<%- include('./_includes/_head') %>
<%- include('./_includes/_header')%>


<main class="main">
	<div class="l-snap-container">
    <%_ section.forEach(function(ele) { _%>
    <%- include('./_includes/_section_template',{name:ele.name, next:ele.next})%>
    <%_ }) _%>
  </div>
</main>

<%- include('./_includes/_footer')%>
