<%- include('./_data/_index_data') %>
<%- include('./_includes/_head') %>
<%- include('./_includes/_header')%>

<div class="wapper">
	<%- include('./_partials/_works-detail')%>
</div>

<div class="p-about__modal">
	<%- include('./_includes/_modal') %>
</div>

<main class="main">
	<div class="l-snap-container">
    <%_ section.forEach(function(ele) { _%>
    <%- include('./_includes/_section_template',{name:ele.name, next:ele.next, nextJa:ele.next_ja})%>
    <%_ }) _%>
  </div>
</main>

<%- include('./_includes/_footer')%>
