<%_ for(let i=0; i < worksList.length; i++){ _%>
<section id="<%= worksList[i].link %>" class="p-work-detail">
  <div class="c-inner">
    <div class="c-section__heading-block">
      <h2 class="c-section__title"><%= worksList[i].title%></h2>
    </div>
    <button class="close-work-detail">閉じる</button>
    <ul class="p-work-detail__article">

      <%_ worksList[i].articles.forEach(element => { _%>



      <li class="p-work-detail__item">
        <figure class="p-work-detail__image">
          <img src="" alt="画像<%= element.img %>">
        </figure>
        <div class="p-work-detail__text">
          <h3 class="p-work-detail__item__heading">
						<%= element.title %>
          </h3>
          <p class="p-work-detail__body">
            aaaa
            <%= element.text %>
          </p>
        </div>
      </li>
      <%_ }); _%>
    </ul>
  </div>
</section>

<%_ } _%>
