<li id="<%=worksList[num].link %>" class="p-works__item swiper-slide">
  <article class="p-works__article">
    <h3 class="p-works__article__title">
      <%- worksList[num].title %>
    </h3>
    <div class="p-works__article__inner">
      <figure class="p-works__article__img">
        <img src="./assets/img/works/<%= worksList[num].imgPath %>.png" alt="">
      </figure>
      <div class="p-works__article__info">
        <p class="p-works__article__responsible">
          担当工程：<b><%- worksList[num].responsibleProcess %></b>
        </p>
        <p class="p-works__article__desc">
          <%- worksList[num].description %>
        </p>
        <div class="p-works__article__bottom-nav">
          <div class="c-more-info">
            <a href="/<%= worksList[num].link %>" class="c-more-info__link">さらに詳しく</a>
          </div>
          <div class="c-view-site">
            <a href="<%= worksList[num].siteLink %>" target="_blank" rel="noopener noreferrer"">サイトを見る</a>
					</div>
				</div>
      </div>
    </div>
  </article>
</li>
